<footer class="footer">
  <div class="container" itemscope itemtype="http://schema.org/Organization">
    <hr>
    <div class="contacts">
      <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="addressLocality">Москва</span>,&nbsp;
        <span itemprop="streetAddress">ул.&nbsp;Средняя&nbsp;Первомайская,&nbsp;3</span>
      </p>

      <p itemprop="telephone">+7 (495) 532-57-89</p>

      <p>
        <a href="mailto:{{ site.email }}" itemprop="email" rel="nofollow">{{ site.email }}</a>
      </p>

      <p><a href="https://www.facebook.com/DoInteractive" rel="nofollow">Facebook</a></p>
    </div>
    <p>© 2013-2015 <span itemprop="name">Do Interactive</span></p>
  </div>
</footer>
